<!DOCTYPE html>
<html>
<head>
    <title>NHSBT AI Grant Data Processing</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="css/signin.css" rel="stylesheet">
    <link href="css/modal.css" rel="stylesheet">
</head>
<body ng-app="loginApp" ng-controller="FormCtrl" ng-cloak>
    <div id="appForm" class="container " >
        <div class="alert alert-danger animate-show animate-hide" ng-hide="alertHiddenRequired" role="alert">
            {{alertContent}}
        </div>

        <div class="panel panel-default section-signin">
            <div class="panel-heading-custom text-white">
                NHSBT Arrest Time Prediction
            </div>
            <div class="panel-body">
                <form class="form-signin" name="signinForm">
                    <label for="inputUsername" class="sr-only">Username</label>
                    <input type="username" id="inputUsername" class="form-control" ng-model="event.username" placeholder="Username" required autofocus>
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" id="inputPassword" class="form-control" ng-model="event.password" placeholder="Password" required>
                    <button class="btn btn-lg bg-primary-color btn-block" type="submit" ng-click="submitFormData()" ng-disabled="signinForm.$invalid || disabledSigninRequired">
                        <i class="fa fa-circle-o-notch fa-spin" style="font-size:20px" ng-hide="spinningHiddenRequired"></i> Sign in</span>
                    </button>
                </form>
            </div>
            <div class="copyright text-center">&copy; Copyright 2018 T-Impact Delivery Team</div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.js"></script>
    <script src="js/messageModal.js?v1.0"></script>
    <script src="js/controller.js?v1.0"></script>
</body>
</html>