@import "root.css";
body {
    background-color: #eee;
    background-image: url("/img/bg.png");
    background-repeat: repeat;
    background-size: 100%;
}
.nhs-logo {
    margin:4px;
}
.welcome-text {
    margin:15px;
}
.container {
    padding-top: 10px;
    padding-bottom: 20px;
}
.main-button {
    margin: 5px 5px;
}
.main-button:hover, .main-button:focus{
    color: #eeeeee;
}
.main-section, .main-table {
    margin: 5px 5px;
}
.main-table {
    width: 98%;
}
.main-logout {
    margin:15px 0px;
    text-align:right;
}
.main-logout a {
    color:#fff;
}
.main-navbar {
    padding: 0.5px 2px;
}
.main-pagination {
    margin: 5px 5px;
}

