@import "root.css";
body {
    background-color: #eee;
    background-image: url("/img/bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
.logo {
    background-image: url("/img/nhs-logo.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100px;
    height: 50px;
}
.container {
    padding-top: 40px;
    padding-bottom: 40px;
}
.main-button {
    margin: 5px 5px;
}
.main-button:hover {
    color: #eeeeee;
}
.main-section, .main-table {
    margin: 5px 5px;
}
.main-table {
    width: 98%;
}
.main-navbar {
    padding: 0.5px 2px;
}